# Project exclude paths
/venv/
/.idea/.gitignore
/.idea/dkxinterfaceTest.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/result/python_api_report_2020-07-24_18_57_53.html
/result/python_api_report_2020-07-24_19_23_38.html
/result/python_api_report_2020-07-29_14_42_13.html
/result/python_api_report_2020-07-30_16_15_04.html
